* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edede9;
    margin: 15px;
}

header.header {
    margin: 10px auto;
    padding: 20px 0;
    font-size: 34px;
    font-weight: 900;
    color: #d6ccc2;
    border-bottom: 1px solid #d5bdaf;
    max-width: 1200px;
}

main.grid-container {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

article.grid-feature {
    padding-bottom: 60px;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 3px solid #d6ccc2;
}

article.grid-item {
    margin: 0 40px;
}

article.grid-feature .grid-info h2 {
    margin: 15px 0;
}

.grid-info h3 {
    margin: 10px;
    font-weight: 600;
}

.grid-info p {
    margin: 20px;
}

.grid-img {
    border: 5px #d5bdaf solid;
    border-radius: 8px;
}

h3,
p,
h2 {
    color: #d6ccc2
}

img.grid-img {
    width: 100%;
}

@media screen and (max-width:1100px) {
    article.grid-item {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
    }
}

@media screen and (max-width: 800px) {

    article.grid-item,
    article.feature {
        display: block;
    }
}